---
import Section from "../Section.astro";
import YearsComponent from "../ui/YearsComponent.astro";
import { certificates } from "@cv";

import { CalendarIcon } from "@/icons/index.astro";
---

<Section title="Certificados">
  <ul>
    {
      certificates.map(({ name, date, url, issuer }) => {
        const year = new Date(date).toISOString().split("T")[0];

        return (
          <li>
            <article>
              <div>
                {url ? (
                  <h3>
                    <a
                      href={url}
                      target="_blank"
                      rel="noopener noreferrer"
                      title={"Certificado del curso: " + name}
                      aria-label={"Certificado del curso: " + name}
                    >
                      {name}
                    </a>
                  </h3>
                ) : (
                  <h3>{name}</h3>
                )}

                <YearsComponent>
                  <span slot="icon">
                    <CalendarIcon width="16" height="16" />
                  </span>
                  <span>{year}</span>
                </YearsComponent>
              </div>

              <h4>{issuer}</h4>
            </article>
          </li>
        );
      })
    }
  </ul>
</Section>

<style>
  article {
    margin-bottom: 8px;
  }

  article > div {
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    gap: 8px;
  }
</style>
