---
import Section from "@/components/Section.astro";
import Badget from "@/components/ui/Badget.astro";
import GithubIcon from "@/icons/GithubIcon.astro";

import { projects } from "@cv";
---

<Section title="Proyectos">
  <ul>
    {
      projects.map(
        ({ url, highlights, description, name, isActive, github }) => (
          <li>
            <article>
              <div>
                <header>
                  <h3>
                    <a
                      href={url}
                      target="_blank"
                      rel="noopener noreferrer"
                      title={`Ver demo de ${name}`}
                    >
                      {name}
                    </a>
                  </h3>
                  {isActive && <span class="dot no-print">•</span>}
                  {github && (
                    <a
                      href={github}
                      target="_blank"
                      rel="noopener noreferrer"
                      title={`Ver repositorio de ${name}`}
                      aria-label={`Ver demo de ${name}`}
                      class="icon"
                    >
                      <GithubIcon
                        width="20"
                        height="20"
                        aria-hidden="true"
                        class="no-print"
                      />
                    </a>
                  )}
                </header>
                <p>{description}</p>
              </div>
              <footer>
                {highlights.map((h) => (
                  <Badget>{h}</Badget>
                ))}
              </footer>
            </article>
          </li>
        )
      )
    }
  </ul>
</Section>

<style>
  ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
  }

  article,
  header,
  .icon {
    display: flex;
  }

  article > div {
    flex: 1;
  }

  article {
    border-radius: 0.6vmax;
    border: 1px solid var(--bg-secondary);
    flex-direction: column;
    padding: 0.5rem;
    height: 100%;
  }

  header {
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 4px;
  }

  a {
    text-decoration: none;
  }

  .dot {
    color: #8fff75;
  }

  p {
    margin-bottom: 4px;
  }

  footer {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    font-size: 0.6rem;
  }

  @media (hover: hover) {
    h3:hover > a {
      text-decoration: underline;
    }
  }

  @media (width <= 700px) {
    article {
      border: none;
      padding: 0 0 16px 0;
    }
  }
</style>
